/* Lists of stories */

.stories-list {
  margin: 20px 5px;
}

.stories-list > li {
  color: #808080;
  font-size: 0.8rem;
  margin: 10px 0;
}

#stories-loading-msg {
  font-weight: bold;
  font-size: 150%;
  margin: 20px 30px;
}

/* Individual stories */

.story-link {
  color: black;
  font-size: 0.85rem;
  font-weight: normal;
  margin: 18px 0;
}

.story-link:hover {
  text-decoration: none;
}

.story-author {
  margin-left: 2em;
}

.story-user {
  display: block;
}

.heart {
  color: #939393;
  cursor: pointer;
  user-select: none;
}

.favorited {
  color: red;
  transition: 0.2s;
}

#favorites h2 {
  text-align: center;
}

#favorite-stories {
  color: rgb(180, 84, 20);
}
